<div class="header">
  <h1>Flight Edit</h1>
</div>

<div class="container">
  <p>Id: {{ id() }}</p>
  <p>ShowDetails: {{ showDetails() }}</p>

  @if (editForm && flight()) {
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="id">Id (*)</label>
        <input class="form-control" formControlName="id" id="id" />
      </div>
      <div class="form-group">
        <label for="from">From (*)</label>
        <input class="form-control" formControlName="from" id="from" />
      </div>
      <div class="form-group">
        <label for="to">To (*)</label>
        <input class="form-control" formControlName="to" id="to" />
      </div>
      <div class="form-group">
        <label for="date">Date (*)</label>
        <input class="form-control" formControlName="date" id="date" />
      </div>
      @if (editForm.hasError('roundTrip')) {
        <div class="text-danger">Round trips are not allowed!</div>
      }
      <div class="form-group">
        <button class="btn btn-default" type="button" (click)="onSave()">Save</button>
      </div>
      @if (message) {
        <div>{{ message }}</div>
      }
    </form>
  } @else {
    <p>Edit form or flight not found.</p>
  }
</div>
